.error_h2 {
  text-align: center;
  margin-top:20px;
  font-size:40px;
}
.no4left{
  height: 250px;
  width: 210px;
  position: absolute;
  margin-top: 230px;
  margin-left: 350px;
}

.imgDrums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.no4right{
  height: 250px;
  width: 210px;
  position: absolute;
  margin-top: 230px;
  margin-left: 820px;
}

.error_p {
  font-size: 20px;
  font-weight: bold;
  color:black;
  text-align: center;
}

.error_a{
  text-decoration: none;
  background:#512fba;
  color: #fff;
  padding: 15px 29px;
  display: inline-block;
  border-radius: 25px;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.2s;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}