@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.blogpost_title{
    font-family: Great Vibes;
    text-align: center;
    font-size: 40px;
}

.blogpost_author{
    font-family: Quicksand;
    font-size:15px;
    color: grey;
    margin-left: 200px;
}

.blogpost_content{
    font-family: Quicksand;
    margin-left: 200px;
    margin-right:200px;
}


