@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);

.repertoire_background_image{
  background-image: url('../../images/repertoar.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.repertoire_page{
  max-width:1200px;
  margin:auto; 
}

.NamesContainer {
    columns: 2 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color:white;
    margin-left:120px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.75rem;
  }

.repertoire_h1 {
    font-family: "Great Vibes";
    margin-top:40px;
    color:white !important;
    font-size:50px;
    text-align:center;
    margin-top: 150px;
}

.repertoire_h2{
  float: left;
  color:white;
  margin-right: 10px;
  margin-top: 14px;
  font-size: x-large;
  margin-top: 50px;
}

input{
  float: left;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;;
  margin-top: 50px;
  color: white;
}

::placeholder {
  color: white;
  font-size: 15px;
  text-align: left;
  font-weight:500;
}


.filters {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  width: 700px;
  margin-top: 50px;
  width: 700px;
  float: right;
  height: 50px;
}

.filters li {
  padding: 15px 10px;
  list-style: none;
  width: fit-content;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: whitesmoke;
}

.filters li:hover {
  border-bottom: 2px solid darkgray;
  cursor: pointer;
  transform: scale(1.1);
}

.filter1{
  border-radius: 50px;
  background-color: #BA2E5E;
  color: white;
}
.filter2{
  border-radius: 50px;
  background-color: #4D1F88;
  color: white;
}
.filter3{
  border-radius: 50px;
  background-color: #917197;
  color: white;
}
.filter4{
  border-radius: 50px;
  background-color: #C98F9E;
  color: white;
}
.filter5{
  border-radius: 50px;
  background-color: #E87E6F;
  color: white;
}