@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

.title {
    font-family: "Great Vibes";
    font-size: 55px;
    font-weight: normal;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

.members {
    display: flex;
    flex-wrap: wrap;
}

.member1 {
    width: 300px;
    text-align: center;
    /*margin: 10px 15px 10px 0;*/
    margin-top: 10px;
    padding: 6px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.memberName {
    font-size: 23px;
    /*color: #4E4C4C;*/
    color: whitesmoke;
    margin-top: 15px;
    margin-bottom: 0px;
}

.descr {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    line-height: 2.3rem;
    margin-top: 15px;
}

.member_img {
    /*border-radius: 50%;*/
    border-radius: 30px;
}

.member_img:hover {
    border-radius: 0px;
    transform: scale(1.05);
    transition: 0.6s all ease
}

.member1:hover {
    transform: scale(1.05);
}

@media screen and (min-width:750px) and (max-width:1025px)
{
    .descr{
        font-size: 20px;
    }
}

@media screen and (min-width:600px) and (max-width:1025px)
{
    .member1{
        width: 250px;
    }

    .member_img{
        width: 250px;
        height: 350px;
    }

    .memberName {
        font-size: 20px;
    }

    .descr {
        font-size: 20px;
        line-height: 2rem;
    }
}

@media screen and  (min-width:464px) and  (max-width:600px)
{
    .member1{
        width: 210px;
    }

    .member_img{
        width: 210px;
        height: 300px;
    }

    .memberName {
        font-size: medium;
    }

    .descr {
        font-size: 16px;
        line-height: 1.5rem;
    }
}

@media screen and  (max-width:464px)
{
    .member1{
        width: 210px;
    }

    .member_img{
        width: 210px;
        height: 300px;
    }

    .memberName {
        font-size: medium;
    }

    .descr {
        font-size: 16px;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 620px) and (max-width:980px){
    
    .title{
        font-size:40px;
    }
}

@media screen and (min-width: 480px) and (max-width: 620px) {
    .title{   
    font-size:30px;
    }
}


@media screen and (max-width: 480px){
    .title{   
        font-size:30px;      
    }
}