@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

.title {
    font-family: "Great Vibes";
    font-size: 55px;
    font-weight: normal;
    position: relative;
    text-align: center;
}

.members {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
}

.member1 {
    width: 275px;
    text-align: center;
    margin: 10px 15px 10px 0;
    padding: 4px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
}

.descr {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

.member_img {
    /*border-radius: 50%;*/
    border-radius: 30px;
}

.member_img:hover {
    border-radius: 0px;
    transform: scale(1.1);
    transition: 0.6s all ease
}

.member1:hover {
    transform: scale(1.1);
}