@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

.main_headline{
    font-family: "Great Vibes";
    font-size: 55px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 11px;
    color: white;
}

.subtitle{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
    font-style: underline;
    color: white;
}

.blog_post_title{
    /*color:purple;*/
    color: violet;
    text-decoration:underline;
    padding-left:100px;
}

.blog_post_author{
    margin-left:120px;
    color: gray;
    font-size: 15px;
}

.blog_windows{
    margin-bottom: 20px;
}

.slika{
    width:100%;
    height: 69vh;
}

.excerpt{
    font-family: "Quicksand";
    padding-left: 110px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width:1300px;
    padding-bottom:30px;
    font-size: 20px;
}

@media screen and (min-width: 620px) and (max-width:980px){
    .main_headline{
        font-size:40px;
    }

    .subtitle{
        width:60%;
        margin: 0 auto;
        font-size:18px;
    }

    .blog_post_title{
        font-size:22px;
        padding-left: 70px;
    }

    .blog_post_author{
        margin-left:90px;
        margin-right:90px;
    }

    .excerpt{
        padding-left: 80px;
        padding-right: 80px;
        font-size: 17px;
        text-align:justify;
    }

    hr{
        width:700px;
    }
}

@media screen and (min-width: 480px) and (max-width: 620px) {
    .main_headline{   
    font-size:40px;
    }

    .subtitle{
        font-size: 17px;
        width:80%;
        margin: 0 auto;
    }

    .blog_post_title{
        font-size:20px;
        padding-left: 40px;
    }

    .blog_post_author{
        margin-left:50px;
        margin-right:50px;
        font-size:14px;
    }

    .excerpt{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 17px;
        text-align:justify;
    }

    hr{
        width:450px;
    }
    }


@media screen and (max-width: 480px){
    .main_headline{   
        font-size:38px;    
        margin-top: 15px;    
    }
    
    .subtitle{
        font-size: 15px;            
        width:80%;    
        margin: 0 auto;
    }

    .blog_post_title{
        font-size:18px;
        padding-left: 25px;
    }

    .blog_post_author{
        margin-left:30px;
        margin-right:30px;
        font-size:13px;
    }

    .excerpt{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        text-align:justify;
    }

    hr{
        width:350px;
    }
}

@media screen and (min-width:715px) and (max-width:980px)
{
    .slika {
        height: 64vh;
    }
}

@media screen and (min-width:600px) and (max-width:715px)
{
    .slika {
        height: 50vh;
    }
}

@media screen and (min-width:370px) and (max-width:600px)
{
    .slika {
        height: 30vh;
    }
}

@media screen and (max-width:370px)
{
    .slika {
        height: 25vh;
    }
}

/*
@media screen and (min-width: 620px){
    .subtitle{
        width:60%;
        margin: 0 auto;
    }
}*/

/*
@media screen and (max-width: 480px){
    .main_headline{   
    font-size:30px;
    }

    .subtitle{
        font-size: 12px;
        width:78%;
        margin: 0 auto;
    }
    }

*/