h1{
    font-family: Great Vibes;
    text-align: center;
    font-size: 40px;
    color:black !important;
}

.subtitle{
    font-family: Quicksand;
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
    font-style: underline;
}

.title{
    color:purple;
    text-decoration:underline;
}

.small{
    padding-left:120px;
}


h2, p{
    padding-left:100px;
}

article{
    padding-bottom: 20px;
}

.slika{
    width:100%;
}

.excerpt{
    font-family: Quicksand;
    padding-left: 110px;
}