@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);

.contactImg {
    width:  100%;
    height: 520px;
}

.contactTitle {
    font-family: "Great Vibes";
    font-size: 55px;
    font-weight: normal;
    position: relative;
    text-align: center;
}