.navigationHeader {
    background-color: #C4C4C4;
    height: 90px;
    display: flex;
    justify-content: space-between;
  }



  @media screen and (min-width:900px){
    .mobile{
      display:none;
    }
  } 